---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";

import luge from "@waaark/luge";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.2/lottie_html.min.js"
      integrity="sha512-kRMSiaWYSQiISGirLTO1Cwkc+dt/yNwcYciDoxgWW38ZH5mKcY8K0IpUcx2+ExGZrbVE7vHuJVItax+GnQ3FaA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-black" id="body">
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
  }
  html {
    font-family: "Oswald", sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
